rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{game} {
      allow read: if request.auth!=null;
      allow create: if request.resource.data.quiz.owner == request.auth.uid
      allow update: if resource.data.quiz.owner == request.auth.uid;
    }
    match /games/{game}/players/{uid} {
      allow read: if request.auth!=null;
      allow write: if uid == request.auth.uid;
    }
    match /quizzes/{quiz} {
      allow read: if resource.data.owner == request.auth.uid;
      allow write: if request.resource.data.owner == request.auth.uid;
    }
    match /info/pins {
    	allow read, write: if request.auth!=null && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }
  }
}